body{
    background-color: skyblue;
}

.heading {
    text-align: center;
    font-family: 'Allura';
    background-color: rgb(26, 25, 25);
}
h1{
    text-align: center;
}
  h2{
      text-align: center;
  }  
