body{
    background-image: url("https://images.unsplash.com/photo-1508717272800-9fff97da7e8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    border: 500px;  
}

.heading {
    text-align: center;
    font-family: 'Allura';
    background-color: rgb(26, 25, 25);
}
h1{
    text-align: center;
}
  h2{
      text-align: center;
  }  
